.carousel {
  width: 80%;
  max-width: 800px;
  min-width: 350px;
  position: relative;
}

.carousel img {
  width: 100%;
}

.carousel .carousel-left-btn,
.carousel .carousel-right-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.carousel .carousel-left-btn {
  left: 0;
}

.carousel .carousel-right-btn {
  right: 0;
}